<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Database</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/favicon/android-chrome-512x512.png">
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
</head>

<body>
    <div class="navbar">
        <a href="/">
            <h1>Artist Database</h1>
        </a>
    </div>
    <div class="container">
        {{ range . }}
        <div class="artist-card">
            <a href="/artist?id={{ .ID }}">
                <div class="artist-info">
                    <img class="artist-image" src="{{.Image}}" alt="{{.Name}}">
                    <h2 class="artist-name">{{ .Name }}</h2>
                    <div class="artist-details">
                        <div class="tag">Creation Date: {{ .CreationDate }}</div>
                        <div class="tag">First Album: {{ .FirstAlbum }}</div>
                    </div>
                </div>
            </a>
        </div>
        {{ end }}
    </div>
</body>

</html>